<app-title [title]="'PRODUCTOS'"></app-title>
<mat-list>
  @for (product of products(); track $index) {
  <mat-list-item>
    <mat-icon matListItemIcon>shopping_cart</mat-icon>
    <div matListItemTitle>{{product.name}}</div>
    <div matListItemLine>
      {{product.price | currency:'S/. ':'code' }}
    </div>
    <div matListItemMeta>
      <button mat-icon-button matTooltip="Editar producto" matTooltipPosition="left"
        (click)="openModalEditProduct(product)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Eliminar producto" (click)="openModalConfirmacionDelete(product)">
        <mat-icon>remove_shopping_cart</mat-icon>
      </button>
    </div>
  </mat-list-item>
  }
</mat-list>
<mat-divider></mat-divider>
<div class="text-center mt-3">
  <button mat-raised-button (click)="openModalCreateProduct()">
    <mat-icon>add_shopping_cart</mat-icon>
    <span>Add Product</span>
  </button>
</div>